@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,700&display=swap');

* {
  background-color: pink;
}

#enable-access-text {
  font-family: "Space Mono";
  font-size: x-large;
  text-align: center;
}

#webcam-box {
  display: flex;
  justify-content: center;
  }